<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165714313-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-165714313-1');
    </script>
    <script>
      function sendTimeToServerStart(){
          var time = new Date();
          var i = document.createElement("img");
          i.src = "/timer?time=" + time;
          document.getElementById("time").innerHTML = time;
      }

      function sendTimeToServerEnd(){
          var time = new Date();
          var i = document.createElement("img");
          i.src = "/timer?time=" + time;
          document.getElementById("time").innerHTML = time;
      }
     </script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="home">Anomaly Detection</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link " href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="configs">Config</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ML  Executor <span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="ml_execute">Tasks Center</a>
              <a class="dropdown-item" href="query?messages=True">Create Task</a>
              <a class="dropdown-item active" href="dashboard">Dashboard<span class="sr-only">(current)</span></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Models
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="query">LSTM</a>
              <a class="dropdown-item" href="query">Isolation Forest</a>
              <a class="dropdown-item" href="#">Prophet</a>
              <a class="dropdown-item" href="#">Dashboard</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="POST">
          <input name='search' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
          <div style="width: 100%; min-height:800px;" >
            {% if connection == 'Done' %}
              <iframe
                noresize='noresize'
                style='position: absolute; background: transparent; width: 99%; height:1000%;'
                src= {{ dash_url }}
                frameborder="0">
              </iframe>
            {% endif %}
            {% if connection != 'Done' %}
              <div class="alert alert-primary" role="alert">
                Please enter the connection information from Config and assign Date Indicator and Feature columns from Create Task.
              </div>
              <div class="alert alert-primary" role="alert">
                Then, Create Task with given prediction Date Without Start the job from Task Center it will not be started.
              </div>
            {% endif %}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>



